<div class="container">
  <clr-modal [(clrModalOpen)]="create" [clrModalSize]="'lg'" [clrModalClosable]="false">
    <h3 class="modal-title">Create Support Ticket</h3>
    <div class='modal-body'>

      <form clrForm [formGroup]="createForm" (ngSubmit)='submitCreate()' class="support-form">
        <section class="form-block">
          <label>Create Support Ticket</label>

          <div class="form-group">
            <label for="org" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md"
              [class.invalid]="createForm.get('org').invalid">Company</label>
            <input readonly id="org" type="text" formControlName="org">
          </div>

          <div class="form-group">
            <label for="user" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md"
              [class.invalid]="createForm.get('user').invalid">User</label>
            <input readonly id="user" type="text" formControlName="user">
          </div>

          <div class="form-group">
            <label for="summary" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md"
              [class.invalid]="createForm.get('summary').invalid">Summary
            </label>
            <textarea rows="5" id="summary" formControlName="summary"></textarea>
          </div>

        </section>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline" (click)="cancelCreateForm()">Cancel</button>
      <button type="submit" class="btn btn-primary" (click)="submitCreate()">Submit</button>
    </div>
  </clr-modal>

  <clr-modal *ngIf="ticketCreateData" [(clrModalOpen)]="confirm" [clrModalSize]="'sm'" [clrModalClosable]="false">
    <h3 class="modal-title">New Ticket Created</h3>
    <p class="modal-body">Ticket ID - {{ticketCreateData.id}} Created</p>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="getTickets()">OK</button>
    </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="error" [clrModalSize]="'sm'">
    <h3 class="modal-title">Error</h3>
    <div class="modal-body">{{errorMessage}}</div>
  </clr-modal>

  <clr-modal *ngIf="ticketData" [(clrModalOpen)]="inspect">
    <h3 class="modal-title">Ticket Summary</h3>
    <div class="modal-body">
      <table class="ticket-data" width="100%">
        <tbody>
          <tr>
            <td align="left">
              <b>Ticket Summary</b></td>
            <td align="left">
              {{ticketData.summary}}</td>
          </tr>
          <tr>
            <td align="left">
              <b>Organization</b></td>
            <td align="left">
              {{ticketData.company.name}}</td>
          </tr>
          <tr>
            <td align="left">
              <b>Status</b></td>
            <td *ngIf="ticketData.closedFlag" align="left">
              Closed
            </td>
            <td *ngIf="!ticketData.closedFlag" align="left">
              {{ticketData.status.name}}
            </td>
          </tr>
          <tr>
            <td align="left">
              <b>Contact</b></td>
            <td align="left">
              {{ticketData.contactName}}</td>
          </tr>
          <tr>
            <td align="left">
              <b>Phone</b></td>
            <td align="left">
              {{ticketData.contactPhoneNumber}}</td>
          </tr>
          <tr>
            <td align="left">
              <b>Email</b></td>
            <td align="left">
              {{ticketData.contactEmailAddress}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" (click)="closeTicket(ticketData.id)">Close Ticket</button>
      <button class="btn btn-primary" (click)="inspect=false">Exit</button>
    </div>
  </clr-modal>
  <div *ngIf="auth">
      <h1>{{"tos.title" | translate}}</h1>
        <h6 style="margin-top: 0.1rem">Toll Free Support: (877) 376-6381</h6>
        <h6 style="margin-top: 0.1rem">Email Support: <a href="mailto:helpdesk@dsm.net?subject=Support Question From VCD">helpdesk@dsm.net</a></h6>
        <h6 style="margin-top: 0.1rem; margin-bottom: 0.5rem"><a target="_blank" href="https://miruma.helpdocs.io">Knowlege Base</a></h6>
      <div class="row">
        <button class="btn btn-primary" (click)="openCreateForm()">Open Ticket</button>
      </div>
      <div class="row">
        <form clrForm [formGroup]="getTicketForm" (ngSubmit)="fetchTicket()" class="support-form">
          <div class="formGroup">
            <label for="id">Ticket ID</label>
            <input type="text" name="id" formControlName="ticketID">
          </div>
        </form>
        <button class="btn btn-primary" (click)="fetchTicket()">Search Ticket</button>
      </div>
    <div class="row">
      <table class="ticket-list ticket-data">
        <tr class="ticket-header">
          <th>Ticket ID</th>
          <th>Ticket Summary</th>
        </tr>
        <ng-template ngFor let-ticket [ngForOf]="companyData" let-i="index">
          <tr (click)="openTicket(i)">
            <td>
              {{ticket.id}}
            </td>
            <td>
              {{ticket.summary}}
            </td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>

  <div *ngIf="!auth">
    <h1>Sorry, this page is under construction!</h1>
  </div>
</div>